.header {
    height: 100vh;
    background-image: url('../../img/build/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (min-resolution: 2dppx) {
        background-image: url('../../img/build/bg2x.jpg');
    }
    &__wrapper {
        max-width: 636px;
        height: 100vh;
        margin: 0 auto;
        padding: 41px 0 71px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        color: $headerFooter-text-color;
    }
    &__title {
        margin-bottom: 5px;
    }
    &__text {
        font-size: 16px;
        line-height: 18.75px;
    }
    &__subtext {
        font-size: 11px;
        letter-spacing: 3.7px;
    }
}